.thumbnail {
    width: 180px;
    padding: 3px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}
.thumbnail:hover {
    scale: 1.1;
}

.cartColor{
    color: greenyellow;
    font-size: large;
}