.emptyCol{
    color: grey;
    font-size: 80%;
}

.activeCol{
    color: green;

}

.inactiveCol{
    color: red;
} 

.infoColor{
    color: cadetblue;
}

.inactive > td{
    color:grey;
    text-decoration: line-through;
    font-style: italic;
}