.emptyCol{
    color: grey;
    font-size: 80%;
}

.activeCol{
    color: green;

}

.inactiveCol{
    color: red;
}

.doneField > td{
    color: grey;
    font-style: italic;
}

.infoColor{
    color: cadetblue;
}
