<h3>Rendelések kezelése</h3>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Név</td>
            <td class="text-end">Összeg</td>
            <td>Beérkezés</td>
            <td>Státusz</td>
            <td>Lezárás</td>
            <td class="text-end">Műveletek</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders" [ngClass]="{'doneField': order.status == 'completed'}">
            <td>{{order.id}}</td>
            <td>{{getUserName(order.user_id)}}</td>
            <td class="text-end">{{order.total| numberFormat}} {{currency}}</td>
            <td>{{order.created_at | timeFormat}}</td>
            <td>{{order.status == 'pending' ? 'Folyamatban' : 'Lezárva'}}</td>
            <td *ngIf="order.status == 'pending'" class="emptyCol">Lezárásra vár</td>
            <td *ngIf="order.status == 'completed'">{{order.updated_at | timeFormat}}</td>
            <td class="text-end">
                <button class="btn mr-2"><i class="bi bi-info-circle infoColor"></i></button>
                <button class="btn mr-2" *ngIf="order.status == 'pending'" (click)='completeOrder(order.id!)'><i class="bi bi-check2-circle"></i></button>
            </td>
        </tr>
    </tbody>
</table>